<h1>New category creation</h1>

<div class="hero-unit">
    <%= form_for @category do |f| %>
        <% if @category.errors.any? %>
          <div class="error_messages">
            <h2>Form is invalid</h2>
            <ul>
              <% for message in @category.errors.full_messages %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <p>
          <%= f.label :name %>
          <%= f.text_field :name, :required => true %>
        </p>
        <p>
          <%= f.label :description %>
          <%= f.text_field :description, :required => true %>
        </p>
        <p class="btn"><%= f.submit %></p>
    <% end %>
</div>
