<div class="hero-unit" style="margin:auto;width: 70%;">
    <div style="padding-top: 0px">
        <h2 style="padding-top: 0px">New Expense creation</h2>
    </div>
 <%= form_for @expense do |f| %>
    <% if  @expense.errors.any? %>
      <div id="error_explanation" style= color:red;>
        <h2><%= pluralize(@expense.errors.count, "error") %> prohibited this expense from being saved:</h2>
        <ul>
          <% @expense.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
        <span>
          <%= f.label :category_id %>
          <span>
            <%= f.collection_select :category_id, current_user.categories, :id, :name, option = {:selected => @expense.category_id}, {:style =>"float:left" } %>
            <h4 style="display: inline;padding-left: 30px">create a new category through this button</h4><%= link_to 'new category', new_category_path, :class => "btn btn-primary", :style => "display:inline" %>
          </span>
        </span>  
         <p style="padding-top: 20px">
          <%= f.label :item_name %>
          <%= f.text_field :item_name, :required => true %>
         </p>
         <p>
          <%= f.label :cost %>
          <%= f.text_field :cost, :required => true %>
         </p>
         <p>
          <%= f.label :spent_on %>
         <%= f.text_field :spent_on %>
         </p>
         <p>
          <%= f.label :comments %>
          <%= f.text_area(:comments, {:cols => 10, :rows => 5})%>
         </p>
    <%= f.submit "create", :class => "btn btn-primary"%>
  <% end %>
</div>
<script>
$(function() {
  $("#expense_spent_on").datepicker({
        showButtonPanel: true,
        dateFormat: "dd/mm/yy"
  });
});
</script>