<script>
    $(function() {
        $( "#spent_on_from_date" ).datepicker({
            showButtonPanel: true,
            dateFormat: "dd/mm/yy"
        });
        $( "#spent_on_to_date" ).datepicker({
            showButtonPanel: true,
            dateFormat: "dd/mm/yy"
        });
    });
</script>  
<div class="hero-unit" style="margin:auto;width: 80%;height:60px;line-height:30px;padding:10px">
  <%= form_tag "/reports/result", :method => :get do %>
        <div style="width:25%;float:left;">
          <%= label_tag :spent_on_from_date %>
         <%= text_field_tag :spent_on_from_date, params[:spent_on_from_date] %>
        </div>
        <div style="width:25%;float:left;">
          <%= label_tag :spent_on_to_date %>
         <%= text_field_tag :spent_on_to_date, params[:spent_on_to_date] %>
        </div>
        <div style="width:25%;float:left;">
          <%= label_tag :category_id %>
          <%= select_tag 'category_id', options_for_select([["--All--", ""]] + current_user.categories("id, name").collect{ |c| [c.name, c.id] }, params[:category_id]) %>
        </div>
        <div style="padding: 24px">
          <%= submit_tag "submit", :class => "btn btn-primary" %>
        </div>
   <% end %>
</div>
<div style="padding-left: 130px;padding-right: 130px;padding-top: 20px">
<table class="table table-bordered">
      <tr>
       <th>Item name</th>
       <th>Category name</th>
       <th>Cost</th>
       <th>Spent On</th>
      </tr>
   <% if @expenses.present? %>
      <% total = 0 %>
     <% @expenses.each do |expense| %>
         <% total += expense.cost %>
       <tr>
         <td><%= expense.item_name %></td>
         <td><%= expense.category.try(:name) %></td>
         <td><%= expense.cost %></td>
         <td><%= expense.spent_on %></td>
       </tr>
     <% end %>    
         <tr><td colspan = 4>The total cost of all expenses = <%= total %></td></tr>
   <% end %>
</table>
<%= will_paginate @expenses if @expenses %>
</div>
