<!DOCTYPE html>
<html>
<head>
  <title>ExpenseTrackTool</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar navbar-inverse">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
    <div class="navbar-inner"> 
          <ul class="nav">
                <li><%= link_to 'Home', new_user_registration_path %></li>
                <li><%= link_to 'Expense Lists', expenses_path %></li>
                <li><%= link_to 'Report', reports_path %></li>
                <li><%= link_to 'Category', categories_path %></li>
            <% if user_signed_in? %>
              <li><%= link_to'Logout', destroy_user_session_path, :method=> 'delete' %></li> 
            <%else%>
              <li><%= link_to 'Login', new_user_session_path %></li> 
              <li><%= link_to'Sign Up', new_user_registration_path %></li>
            <%end%> 
         </ul>
    </div>
 </div>

<%= yield %>

</body>
</html>
