<!DOCTYPE html>
<html>
<head>
  <title>ExpenseTrackTool</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar navbar-inverse">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
    <div class="navbar-inner"> 
          <ul class="nav">
            <li><%= link_to 'Home', sign_up_users_path %></li>
            <li><%= link_to 'Expense Lists', expenses_path %></li>
            <li><%= link_to 'Report', reports_path %></li>
            <li><%= link_to 'Category', category_new_path %></li>
            <li><%= link_to 'Sign Up', sign_up_users_path %></li>
            <li><%= link_to 'Log in', log_in_sessions_path %></li>
            <li><%= link_to 'Log out', logout_sessions_path %></li>
          </ul>
    </div>
 </div>

<%= yield %>

</body>
</html>
